# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

#Secret
/src/main/java/com/airesnor/wuxiacraft/profession/alchemy/Recipes.java
